<div class="mt-5 mb-3 d-lg-flex w-50 author-block">
	<img class="mx-auto m-2 author-portrait" src="/assets/img/{{ author.image }}" />
	<div class="w-100 m-3 author-data">
		<h2 class="display-4 author-name">{{ author.name }}</h2>
		<p class="author-pronouns">{{ author.pronouns }}</p>
		<p class="author-bio">{{ author.bio | safe }}</p>
		<p class="author-link"><a href="{{ author.link }}">Read more</a></p>
	</div>
</div>
