---
layout: "base.njk"
author:
  name: "Tadeas Jun"
  pronouns: "he/they"
  bio: "Tadeas is a full-stack web developer and recreational writer. Their main project is Art&nbsp;Prompts, a web app for artists."
  link: "/about"
  image: "/portraits/portrait_tadeasjun.png"
---

{% block content %}
<main>
	<div class="container blog-post">
		<h1 class="display-2">{{ title }}</h1>
		{% if not hideMetadata %}
			<p class="grey mb-0">by {{ author.name }} ({{ author.pronouns }}). Published on {{ date }}. {{ (content | striptags | wordcount).toLocaleString() }} words.</p>
			<div class="categoryLinks mt-1 mb-3">
				{% for category in categories %}
					{% include 'categoryLink.njk' %}
				{% endfor %}
			</div>
		{% endif %}
		{% if eledris %}
			<p><em>This article was originally published on {{ eledrisReleaseDate }} on <a href="https://eledris.com/" target="_blank">the Eledris blog</a>. It has been moved here, with minor edits, in an effort to streamline the content of the Eledris blog to worldbuilding and writing articles.</em></p>
		{% endif %}
		{{ content | safe }}
		{% if not hideMetadata %}
			<hr />
			{% include 'authorBlock.njk' %}
		{% endif %}
	</div>
</main>
{% endblock content %}