<div id="header">
	<div>
		<h1>Bc. <span id="name">Tadeáš Jůn</span></h1>
		<h2>Vývojář</h2>
		<div id="technology-icons">
			<img src="/assets/img/cv/icons/javascript.svg" alt="JavaScript logo" />
			<img src="/assets/img/cv/icons/nodejs.svg" alt="Node.js logo" />
			<img src="/assets/img/cv/icons/reactjs.png" alt="React.js logo" />
			<img src="/assets/img/cv/icons/gatsbyjs.svg" alt="Gatsby.js logo" />
			<img src="/assets/img/cv/icons/expressjs.svg" alt="Express.js logo" />
			<img src="/assets/img/cv/icons/php.svg" alt="PHP logo" />
		</div>
	</div>
	<div id="portrait">
		<img src="/assets/img/cv/portrait.png" alt="Fotoportrét Tadeáše Jůna v šedém kabátu na rozostřeném pozadí lesa." />
	</div>
</div>
