<div id="sidebar">
	<div class="section">
		<p><strong>tadeas.jun02@gmail.com</strong></p>
		<p>Brno, Česká republika</p>
	</div>
	<div class="section">
		<p><strong>Portfolio</strong></p>
		<p><em>tadeasjun.com</em></p>
		<p><em>github.com/Tadeas-Jun</em></p>
	</div>
	<div class="section">
		<p><strong>Znalosti</strong></p>
		<p>React development</p>
		<p>Node.js development</p>
		<p>PHP development</p>
		<p>Add-on development</p>
		<p>Technické psaní</p>
		<p>Progressive web apps</p>
		<p>Web optimalizace</p>
		<p>SEO optimalizace</p>
	</div>
	<div class="section">
		<p><strong>Nástroje & technologie</strong></p>
		<p>React, Gatsby.js, JavaScript, HTML, (S)CSS, PHP, SQL, Node.js, Express.js, discord.js…</p>
	</div>
	<div class="section">
		<p><strong>Ostatní dovednosti</strong></p>
		<p>Figma</p>
		<p>Překlad</p>
		<p>Kreativní psaní</p>
		<p>Akademické psaní</p>
	</div>
	<div class="section">
		<p><strong>Jazyky</strong></p>
		<p>Čeština</p>
		<p>Angličtina (C2)</p>
		<p>Francouzština (B1)</p>
	</div>
	<hr />
	<div class="link">
		<img src="/assets/img/cv/icons/linkedin.svg" alt="LinkedIn logo" />
		<p>tadeas-jun</p>
	</div>
	<div class="link">
		<img src="/assets/img/cv/icons/github.svg" alt="GitHub logo" />
		<p>Tadeas-Jun</p>
	</div>
	<p id="version">v2026.3 2026-09-03</p>
</div>