<footer class="p-5 pb-2 bg-light text-center">
	<div class="container">
	<p class="footer" data-i18n="footer.copyright">Copyright &copy; 2023–2026 Tadeas Jun</p>
	<p class="footer small grey">v{{ meta.version }} ({{ meta.lastUpdate }})</p>
	</div>
</footer>
