<footer class="p-5 pb-2 bg-light text-center">
	<div class="container">
		<p class="footer" data-i18n="footer.copyright">Copyright &copy; 2023–2026 Tadeas Jun</p>
		<p class="footer small grey"><a href="https://github.com/Tadeas-Jun/personal-website" target="_blank" data-i18n="footer.source">Source code available</a>, v{{ meta.version }} ({{ meta.lastUpdate }})</p>
	</div>
</footer>
