<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Tadeas Jun">
	<meta name="keywords" content="world design, writing, software engineering, tadeas jun, portfolio">
	<meta
		name="description"
		content="I am a world designer, writer, and a software engineer. Check out my portfolio website!">
	<meta name="og:image" content="https://www.tadeasjun.com/assets/img/og-image.png">
	<meta name="og:image:width" content="1920">
	<meta name="og:image:height" content="500">
	<meta property="og:image:type" content="image/png">
	<title>{{ title }} | Tadeas Jun 🪐</title>
	<link href="/assets/css/style.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/23.11.2/i18next.min.js" integrity="sha512-eQT9P9ihLS8/wO0VyBYZLzKujwqcFtx1fVK+VQU4JAYHOxLhAVI13QKBBy++DAJqFW4pkD5QWad07FoWdrFTVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="icon" href="/assets/img/logo-light.svg">
	<script defer src="https://umami.tadeasjun.com/script.js" data-website-id="7cb45d35-5418-4524-9238-79b138bf7f50"></script>
</head>
