<section id="projects" class="bg-light text-dark p-5 px-2 px-sm-5 text-center text-sm-start">
	<div class="container">

		<h2 class="display-3" data-i18n="home.projects.coding.heading">Coding projects</h2>
		<div id="description">
			<div class="row justify-content-between">
				<div class="col-md-auto">
					<p class="lead mt-md-1" data-i18n="home.projects.coding.description">Check out some of my favorite and most recent coding projects. My writing & worldbuilding projects are listed below.</p>
				</div>
			</div>
		</div>

    	<div class="container pt-3 d-md-flex flex-wrap">
			<!-- Card coding projects-->
			{% for project in collections.projects %}
				{% if project.data.niche == 'coding' and project.data.type == 'card' and project.data.shown %}
					{% include 'projectCardLarge.njk' %}
				{% endif %}
			{% endfor %}
		</div>

		<h3 class="display-4 mt-4" data-i18n="home.projects.coding.smaller">Smaller coding projects</h3>

		<div class="container pt-3 d-md-flex flex-wrap">
			<!-- Link coding projects -->
			{% for project in collections.projects %}
				{% if project.data.niche == 'coding' and project.data.type == 'link' and project.data.shown %}
					{% include 'projectCardLink.njk' %}
				{% endif %}
			{% endfor %}
		</div>

</section>
