<section class="bg-light text-dark p-5 px-2 px-sm-5 p-lg-0 pt-lg-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1 class="display-1"><span data-i18n="home.name.first">Tadeas</span> <span class="text-primary" data-i18n="home.name.last">Jun</span></h1>
        <div class="px-sm-2">
          <div class="queer d-flex align-items-start justify-content-sm-start justify-content-center">
            <p class="pb-2" id="pronouns">
              (<span class="pronouns pronouns-he" data-i18n="home.pronouns.he">he</span> /
              <span class="pronouns pronouns-they" data-i18n="home.pronouns.they">they</span>)
            </p>
            <div class="p-0 mx-3 mt-1">
              <div class="bisexual"></div>
            </div>
          </div>
          <h2 class="display-4" data-i18n="home.heading">Full-stack web developer with a side of creative writing.</h2>
          <p class="lead pe-sm-5 mt-2 mb-4" data-i18n="home.subheading">Complex websites, Discord bots, fantasy worlds, non-fiction articles, oh my...</p>
          <a href="#contact" class="btn btn-dark btn-lg px-5" data-i18n="home.button.chat">Let's chat</a>
          <a href="/assets/pdf/tadeasjun_cv_en.pdf" target="_blank" class="btn btn-outline-dark btn-lg px-4 my-md-0 my-2 mx-1 cv-link" data-i18n="home.button.resume">My résumé</a>
        </div>
      </div>

      <img class="img-fluid w-50 my-sm-0 my-5" src="/assets/img/placeholder.svg" alt="A placeholder illustration of a man standing next to a mobile phone." data-i18n="home.alt.heroIllustration" />
    </div>
  </div>
</section>
