<section id="blog-posts" class="bg-light text-dark p-5 px-2 px-sm-5 text-center text-sm-start">
  <div class="container">
    <h2 class="display-3" data-i18n="home.blog.heading">Latest blog post</h2>
    <p class="lead" data-i18n="home.blog.description">I just released this post! Read more of them on <a href="/blog">the blog page</a>.</p>
    {% assign posts = collections.article | reverse %}
    {% for post in posts limit:1 %}
		<a href="{{ post.url }}" class="invisible-link">
			<div href="{{ post.url }}" class="my-5 article-item">
				<h2 class="display-4 article-title">{{ post.data.title }}</h2>
				<p>{{ post.data.description }}</p>
				<p class="article-meta">{{ post.data.author }}, {{ post.data.releaseDate }}</p>
			</div>
		</a>
	  {% endfor %}
  </div>
</section>