<section id="services" class="bg-light text-dark p-5 px-2 px-sm-5 text-sm-start">
  <div class="container">
    <h2 class="display-3" data-i18n="home.services.heading">What I can offer</h2>
    <p class="lead" data-i18n="home.services.worldbuilding">I can offer you professional <span class="text-primary text-regular">world design</span> for any story, comic, or game. I specialize in fantasy worldbuilding, but I have experience with soft sci&#8209;fi worlds as well. Besides creating a world from scratch to your liking, I also have experience with world design consultations and continuing an existing worldbuilding project.</p>
    <p class="lead" data-i18n="home.services.writing">I can offer you my <span class="text-primary text-regular">writing</span> skills in the areas of niche blog writing, academic writing, and technical writing. I have university education in the English language and I have been writing informational articles about worldbuilding, writing, and coding on my blog since 2019. I can also serve as a proofreader and a style checker (I have experience with the MLA and APA formats).</p>
    <p class="lead" data-i18n="home.services.coding">I can offer you  <span class="text-primary text-regular">software engineering</span> of Android applications, Discord bots, and websites (both static and dynamic). I've been interested in coding for a decade, and I've been working part-time as a programmer for over a year; I've also worked as a freelance coder for the past 3 years. Through my industry experience, I can guarantee that the code I deliver will be readable, functional, and effective.</p>
    <div class="alert alert-light mt-5" role="alert" data-i18n="home.services.ai">Read my statement on <a href="/blog/ai/">AI and AI-based projects</a>.</div>
  </div>
</section>