<section id="testimonials" class="bg-light text-dark p-5 px-2 px-sm-5 text-center text-sm-start">
  <div class="container">
    <h2 class="display-3" data-i18n="home.testimonials.heading">Testimonials</h2>
    <p class="lead" data-i18n="home.testimonials.description">What people say about me and my projects.</p>

    <div class="text-start">

      <!-- Testimonials loaded from /src/testimonials files. -->
      {% for testimonial in collections.testimonials %}
      {% if testimonial.data.shown %}
        <div class="testimonial pt-4">
          <i class="bi bi-quote h2"></i>
          <figure class="ps-3">
            <blockquote class="blockquote">
              <p class="lead" data-i18n="{{ testimonial.data.i18nTestimonialText }}">{{ testimonial.content | toPlainText | trim }}</p>
            </blockquote>
            <figcaption class="blockquote-footer" data-i18n="{{ testimonial.data.i18nAttribution }}">
              {{ testimonial.data.attribution }}
            </figcaption>
          </figure>
        </div>
      {% endif %}
      {% endfor %}

    <p class="lead pt-4" data-i18n="home.testimonials.contact">If you've worked with me and would like to leave a testimonial, please reach out to tadeas@jun.com</p>

  </div>
</section>
