---
pagination:
  data: collections.categories
  size: 1
  alias: category
layout: "base.njk"
title: "Blog category"
permalink: "/blog/category/{{ category.name | slugify }}/index.html"
---

<section class="bg-light text-dark pt-5 px-2 px-sm-5 text-sm-start">
  <div class="container">
    <h1 class="display-3"><span data-i18n="pages.blogCategories.category">Category:</span> {{ category.name }}</h1>
    <p class="mb-0"><span data-i18n="pages.blogCategories.postCount">Post count:</span> {{ category.count }}</p>
    <p class="mb-0"><span data-i18n="pages.blogCategories.lastUpdate">Last updated:</span> {{ category.lastUpdate }}</p>
	  <hr />

    {% set categoryPosts = collections.article | postsWithCategory(category.name) %}
    {% for post in categoryPosts | reverse %}
      {% include 'blogCard.njk' %}
    {% endfor %}

  </div>
</section>
