/* || Variables */
$primary: #ff652f;
$light: #FAFCFF;
$grey: #C8C8C8;
$light-grey: #EAEAEA;
$dark: #2d2c2c;
$font-family-base: 'Raleway', sans-serif;

$display-font-sizes: (
    1: 3rem,
    2: 2.5rem,
    3: 2rem,
    4: 1.5rem,
    5: 1rem
);

$body-bg: $light;

$navbar-light-active-color: $primary;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/Raleway.ttf');
}


/* || General settings */
html {
    scroll-behavior: smooth;
}

.text-regular {
    font-family: 'Raleway', sans-serif;
}

.btn {
    transition: all 0.3s;
    border-radius: 3px;
}

.btn-dark:hover {
    background-color: $primary;
    border-color: $primary;
}

.dropdown-item:active {
    background-color: #f5f5f5;
    color: $dark;
}

.alert > p {
    margin: 0;
}

.alert.alert-light {
    border-color: $dark;
    background-color: $light;
    color: $dark;
}

.grey {
    color: $grey;
}


/* || Navbar */
nav {
    font-family: 'Raleway', sans-serif;
}

.navbar-toggler {
    border-radius: 3px;
}

.nav-link {
    transition: 0.3s;
}

.nav-link:hover {
    color: $primary;
}

.logo {
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.1);
}


/* || Hero section */
/* Bisexual flag div */
.bisexual {

    height: 1rem;
    width: 1rem;
    border-radius: 2px;
    z-index: 2;
    position: relative;

    transition: 0.5s;

    background: linear-gradient(to bottom,
            #d60270,
            #d60270 40%,
            #9a4f96 40%,
            #9a4f96 60%,
            #0039a9 60%,
            #0039a9);

}

.bisexual::before {

    position: absolute;
    border-radius: 2px;
    opacity: 0;
    inset: 0;
    z-index: 1;
    content: "";
    transition: opacity 0.5s;

    background: linear-gradient(to bottom,
            #e40303,
            #e40303 16.67%,
            #ff8c00 16.67%,
            #ff8c00 33.33%,
            #ffed00 33.33%,
            #ffed00 50%,
            #008026 50%,
            #008026 66.67%,
            #004dff 66.67%,
            #004dff 83.33%,
            #750787 83.33%,
            #750787);

}

.bisexual:hover::before {
    opacity: 1;
}

/* Pronouns in Hero */
.pronouns {
    transition: 0.5s;
}

.pronouns-he:hover {
    color: #0039a9;
}

.pronouns-they:hover {
    color: #9a4f96;
}


/* || Project section */
.project-column {
    max-width: 100%;
    transition: 1s;
}
@media screen and (min-width: 1200px) {
    .project-column {
        max-width: 30%;
    }
}

.project-card {
    min-width: 25%;
    min-height: 15rem;
}

.show-more {
    position: relative;
    width: 100%;
    margin: 50px auto;
    text-align: center;
    display: inline-block;
    color: $dark;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}
.show-more:hover {
    color: $primary;
    font-weight: bold;
}
.show-more:before{
    content:" ";
    height: 1px;
    width: 40%;
    background: $dark;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }
  .show-more:after{
    content:" ";
    height: 1px;
    width: 40%;
    background: $dark;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }

.type-icon {
    color: $primary;
    transition: 0.5s;
}

.type-icon:hover {
    color: $dark;
}


/* || Technologies section */
.technology-card {
    width: 7.5rem;
    transition: 0.5s;
    font-size: 0.9rem;

    &[data-content] {
        border: 1px solid $dark;
    }
}

.technology-card:hover {

    &[data-content] {
        background-color: $dark;
        color: $light;
    }

    &:not([data-content]) {
        background-color: $grey;
    }

}

.technology-icon {
    max-width: 50%;
}


/* || Contact section */
.social-btn {
    color: $dark;
    transition: 0.3s;
}

.social-btn:hover {
    color: $primary;
}

/* || Technology page */
.technology-page .technology-icon {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin-top: 5px;
    max-width: 100%;
    box-shadow: none !important;
}

/* || Blog section */
.invisible-link {
    color: inherit;
    text-decoration: none;
}

.article-item, .project-card-link {
    padding: 16px;
    border-left: $dark 2px solid;
    transition: 0.5s;
}

.article-item:hover, .project-card-link:hover {
    transform: translate(0, -4px);
    border-left: $primary 2px solid;
    background-color: $light-grey;
    border-radius: 8px;
}

.article-item:hover > .article-title {
    color: $primary
}

.article-title {
    color: $dark;
    transition: 0.5s;
}

.article-meta {
    margin-bottom: 0;
    opacity: 0.2;
}

.blog-post > h2, .technology-page > h2 {
    margin-top: 30px;
    font-size: 1.75rem;
    font-weight: normal;
}

.blog-post img, .technology-page img {
    display: block;
    border-radius: 8px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    box-shadow: -4px 8px 8px 0 rgba($color: $dark, $alpha: 0.2)
}

.blog-post blockquote {
    padding-left: 1rem;
    font-style: italic;
    border-left: 1px solid $grey;

    em {
        font-style: normal;
    }
}

code {
    margin: 0 2px;
    padding: 0 5px;
    background-color: $light-grey;
    border-radius: 4px;
    color: $primary;
}

pre code {
    background: none;
    display: inline-block;
    line-height: 1.5rem;
    color: $light;
    margin: 0;
    padding: 0 16px 0 0;
}

pre code::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid $primary;
    padding-right: 1em;
    margin-right: 1em;
    color: #787878;
    text-align: right;
    width: 3em;
}

pre.code {
    color: $light;
    background: $dark;
    padding: 16px 0 16px 8px;
    margin: 32px 16px;
    border-radius: 8px;
    counter-reset: line;
}

.categoryLinks {

    display: flex;
    gap: 16px;

    .categoryLink {
        margin: 0;

        img {
            display: inline;
            box-shadow: none;
            border-radius: 0;
            margin: 0;
        }
    }

}

/* || Alerts */
.alert-message {
    text-align: center;
    padding: 5px 5px;
}
.alert-message > p {
    margin: 0;
    padding: 0;
    color: #ff2f2f;
}

/* || Author block */
.author-block {

    border-radius: 16px;
    border-left: $primary 2px solid;
    background-color: $light-grey;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;

    & img.author-portrait {
        max-width: 150px;
        max-height: 150px;
        border-radius: 6px;
    }

    & div.author-data {

        & p, h2 {
            margin: 0;
            margin-top: 8px;
        }

        & .author-name, .author-pronouns, .author-link {
            text-align: center;
        }

        & .author-name {
            margin-top: 0;
        }

        & .author-pronouns {
            margin-top: 0;
            opacity: 0.25;
        }

        & .author-link {
            & a {
                color: $dark;
            }
        }

    }

}