---
layout: "base.njk"
title: "Portfolio"
tags: "page"
---

<!-- Hero -->
{% include "sections/hero.njk" %}

<!-- Services -->
{% include "sections/services.njk" %}

<!-- Coding projects -->
{% include "sections/codingProjects.njk" %}

<!-- Technologies -->
{% include "sections/technologies.njk" %}

<!-- Writing & worldbuilding projects -->
{% include "sections/writingProjects.njk" %}

<!-- Testimonials -->
{% include "sections/testimonials.njk" %}

<!-- Blog post -->
{% include "sections/lastBlogPost.njk" %}

<!-- Contact -->
{% include "sections/contact.njk" %}
